version: 2.1

executors:
  scala_jdk8_executor:
    docker:
      - image: circleci/openjdk:8-jdk
  scala_jdk11_executor:
    docker:
      - image: circleci/openjdk:11-jdk

commands:
  sbt_cmd:
    description: "Build with sbt"
    parameters:
      scala_version:
        type: string
        default: 2.12.10
      sbt_tasks:
        type: string
        default: update compile test:compile test doc package
    steps:
      - restore_cache:
          keys:
            - sbt-deps-v1-{{ checksum "build.sbt" }}
            - sbt-deps-v1-
      - run: sbt ++<< parameters.scala_version >> << parameters.sbt_tasks >>
      - save_cache:
          key: sbt-deps-v1-{{ checksum "build.sbt" }}
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"

jobs:
  scala_job:
    executor: scala_<<parameters.java_version>>_executor
    parameters:
      scala_version:
        description: "Scala version"
        default: 2.12.9
        type: string
      java_version:
        description: "Java version"
        default: jdk8
        type: string
    environment:
      - LANGUAGE: C.UTF-8
      - LC_ALL: C.UTF-8
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install cloc
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"
      - run: java -version
      - restore_cache:
          keys:
            - sbt-deps-v1-{{ .Branch }}-{{ .Revision }}
            - sbt-deps-v1-{{ .Branch }}
            - sbt-deps-v1-
      - restore_cache:
          keys:
            - dbuild-v1-{{ .Branch }}-{{ .Revision }}
            - dbuild-v1-{{ .Branch }}
            - dbuild-v1-
      - run: ./run.sh json4s,scalacheck
      - save_cache:
          key: sbt-deps-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
      - save_cache:
          key: dbuild-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - "~/.dbuild"
            - "clones-0.9.16"
            - "target-0.9.16/extraction"
            - "target-0.9.16/sbt-base-dir"

workflows:
  build:
    jobs:
      - scala_job:
          name: 2.13.0
          java_version: jdk8
          scala_version: 2.13.0
